Extra Documents/12+Rules+to+Learn+to+Code+\[2nd+Edition\]+2022.pdf
2.1 Heading Element/goal.png
2.1 Heading Element/solution.html
2.2 Paragraph Element/goal.png
2.2 Paragraph Element/solution.html
2.3 Void Elements/goal.png
2.3 Void Elements/solution.html
2.4 Movie Ranking Project/goal.png
2.4 Movie Ranking Project/solution.html
3.0 List Elements/goal.png
3.0 List Elements/solution.html
3.2 Anchor Elements/goal.png
3.2 Anchor Elements/solution.html
4.0 File Paths/Folder0/goal.png
4.0 File Paths/Folder0/solution.html
